langchain==0.3.14
langgraph==0.2.37
langgraph-cli==0.1.30
langchainhub==0.1.20
langchain-community==0.3.14
langchain-google-genai==1.2.0
langchain-qdrant==0.2.6
langchain-text-splitters==0.3.2
tiktoken==0.8.0
beautifulsoup4==4.12.3
python-dotenv==1.0.1
qdrant-client==1.12.1
streamlit==1.40.2
